body {
  background-image: url(./img/wall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  color: #ccc;
}

/*BARRA DE NAVEGACIÓN*/
.img-navb {
  width: 80px;
}

/*TÍTULO PRINCIPAL*/
h1 {
  color: #bbbbbb;
  margin-top: 160px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
  border: 1px solid #666666;
  padding: 40px;
  font-family: "Mrs Saint Delafield", cursive;
  font-size: 3em;
}

/*CONTENIDO MAIN CAJA IMAGEN + INFORMACIÓN + REDES SOCIALES*/
main {
  display: flex;
  gap: 3em;
  padding: 2em;
  justify-content: center;
  align-items: start;
  background: rgb(33, 37, 41);
  opacity: 0.8;
}

main img {
  width: 22em;
  height: 35em;
  border: 1px solid #1c1c1c;
}

main p {
  padding: 2em;
  color: #b5b5b5;
  font-size: 0.8em;
  width: 40em;
  text-align: justify;
}

.main-title {
  color: black;
  background-color: white;
  padding: 1em;
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  background-color: #ccc;
  color: black;
  text-align: center;
  padding: 1em;
  margin-bottom: 50px;
  box-shadow: 6px 5px 5px black;
}

ul {
  list-style-type: none;
  text-align: justify;
  line-height: 2em;
}

/*ZONA DE HABILIDADES*/

h2 {
  color: white;
  padding: 2em;
  text-align: center;
  font-weight: 600;
}

h3 {
  color: white;
  text-align: center;
}

/*TIMELINE*/

.timeline {
  list-style: none;
  padding: 0;
}
.timeline-item {
  display: flex;
  margin-bottom: 20px;
}
.timeline-badge {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.timeline-content {
  margin-left: 20px;
  padding: 10px;
  border-left: 2px solid #007bff;
}
.timeline-content h4 {
  margin-top: 0;
}
.timeline-content p {
  margin-bottom: 0;
}
